{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body">
        <h1 class="title has-text-centered has-text-white">Log in</h1>
    </div>
</div>

<section class="section has-text-white">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <form method="post" action=".">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}">

                <div class="field">
                    <label>Username</label>

                    <div class="control">
                        <input type="text" name="username" class="input">
                    </div>
                </div>

                <div class="field">
                    <label>Password</label>

                    <div class="control">
                        <input type="password" name="password" class="input">
                    </div>
                </div>

                {% if form.errors %}
                    <div class="notification is-danger">
                        Your username and password didn't match! Please try again!
                    </div>
                {% endif %}

                <div class="field">
                    <div class="control">
                        <button class="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}